.plug {
    display: block;
    width: 90%;
    margin: auto;
    max-width: 600px;
  }
  
  .random__div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .tw {
    white-space: pre-wrap;
  }